/******************************  NABAR  ******************************/
.navbar {
    background-color: #0a043c !important;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

.navbar .navbar-header .navbar-brand {
  color: #a3ddcb;
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  font-size: 3.5rem;
}

.navbar-nav li a{
  color: #a3ddcb !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.navbar-nav li a:hover {
  color: #eeeeee !important;
}

/******************************  COMPOSE  ******************************/
.compose  {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
}

.btn-primary {
  background-color: #0a043c;
  color: #a3ddcb;
}

.btn-primary:hover {
  background-color: #a3ddcb;
  color: #0a043c !important;
}


/******************************  FOOTER  ******************************/
.footer {
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  background-color: #0a043c;
  color: #a3ddcb;
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 10px;
}
